# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Geoffrey\symfony_app_myWeekly\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
